  * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .navbar{
        background-color: rgb(0, 174, 255);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-size: 100%;
        height: 115px;
        padding: 0px 100px;
        color: aliceblue;
        
        
    }

    .navbar > div {
        display: flex;
        gap: 25px;
    }
    a{
        color: aliceblue;
        text-decoration: none;
        transition: all 0.3s ease;
    }
    a:hover{
        transform: scale(10px);
        color: rgb(255, 0, 0);
    }
    .navegacao{
        font-size: 22px;
    }
    .produtos{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 22px;
        margin-top: 10px;
    }
    #u{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 200px;
    }
    .Descricao > h1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .Descricao > p{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
